body {
  background-color: #ffffff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  color: #333;
  border-radius: 12px;
  border: 3px solid rgb(156, 87, 212);
  box-sizing: border-box;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#logo {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.container {
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 8px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}

button {
  background-color: transparent;
  border: none;
  color: #333;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s, box-shadow 0.3s;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

button:focus {
  outline: none;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  margin-top: 12px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 20px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #0cb322;
}

input:checked + .slider:before {
  transform: translateX(20px);
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
}

a {
  text-decoration: none;
  color: #2196F3;
  transition: color 0.3s;
}

a:hover {
  color: #0d8bf2;
}

#min, #sec, #timerDisplay {
  font-size: 2em;
  font-weight: bold;
}

#punkt {
  font-size: 2em;
  font-weight: bold;
}

#progressBarContainer {
  width: 100%;
  background-color: #ddd;
  border-radius: 8px;
  overflow: hidden;
  margin-left: 20px;
}

#progressBar {
  width: 0%;
  height: 20px;
  background-color: #76c7c0;
  text-align: center;
  line-height: 20px;
  color: white;
}

.tooltipcontainer {
  position: relative;
  display: inline-block;
}

.tooltip {
  visibility: hidden;
  width: 120px;
  background-color: white;
  color: grey;
  text-align: center;
  border: 3px solid rgb(251, 255, 22);
  border-radius: 5px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: calc(100% + 10px);
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}

.tooltipcontainer:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.container h1 {
  font-size: 1.5em;
  margin-bottom: 0;
  margin-right: 20px;
}

#greet {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.container a {
  text-decoration: none;
  color: #333;
  font-size: 1.5em;
  font-weight: bold;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 8px;
  transition: background-color 0.3s, box-shadow 0.3s;
  white-space: nowrap;
}

.container a:hover {
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.footer {
  margin-top: auto;
  text-align: right;
  padding: 10px;
}

.footer span {
  display: inline-block;
  margin-right: 10px;
  color: rgb(197, 197, 197);
}

.footerlink {
  color: rgb(197, 197, 197);
  text-decoration: underline;
}

.footerlink:visited {
  color: rgb(197, 197, 197);
}

.container.dashboard-link {
  display: flex;
  align-items: center;
  gap: 10px;
  width: auto;
}

.container.dashboard-link .tooltipcontainer {
  display: flex;
  align-items: center;
}

.container.dashboard-link a {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-size: 1.5em;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 8px;
  transition: background-color 0.3s, box-shadow 0.3s;
  white-space: nowrap;
}

.container.dashboard-link a:hover {
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
